footer {
    background-color: rgba(0, 35, 84, 0.923);
    padding: 8px;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
}

.ourNames {
    font-style: italic;
}

.ourNames {
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.ourNames:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #ffffff;
    opacity: 80%;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ourNames:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}