.podcast-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 5px;
  cursor: pointer;
}

.podcast-img-and-details {
  display: flex;
  gap: .5rem;
}

.podcast-img {
  flex-basis: 30%;
}

.podcast-details {
  flex-basis: 66%;
  align-self: center;
  white-space: wrap;
  overflow: hidden;
}

.podcast-details h4 {
  font-size: 1rem;
  font-weight: 400;
}

.podcast-details h5 {
  font-size: .9rem;
  font-weight: 300;
}

.podcast-description {
  font-size: .9rem;
  font-weight: 400;
  flex-basis: 93%;
  margin: 0 auto;
  word-break: break-word;
}