.podcast-description {
  font-size: .9rem;
  font-weight: 400;
  flex-basis: 93%;
  margin: 0 auto;
  word-break: break-word;
}

.playlist-displayed {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between ;
  
}

.displayed-playlist-title{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: white;
}
