html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #000;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary: hsl(210, 100%, 12%);
  --accent: hsl(43, 78%, 48%);
  --cream: hsl(43deg 100% 80%);
  --text: rgba(255, 255, 255, 0.931);
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Edu QLD Beginner", cursive;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

i {
  color: var(--text);
  transition: color 0.2s ease-out;
}

.container {
  min-height: 100vh;
  background-color: #00203f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%2300203F' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23002243' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23002446' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300264a' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300284e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23002a52' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23002c55' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23002e59' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2300305d' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23003261' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23003465' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23003669' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2300386d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23003a71' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23003c75' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23003e79' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2300407d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23004281' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: min(90%, 1000px);
  margin: 0 auto;
  flex-grow: 1;
}
/*==============
Header.js
===============*/
header {
  text-align: center;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transition: min-height 1.5s ease-out;
  color: var(--text);
  margin-bottom: 35px;
}

header.shrink {
  min-height: 13vh;
}

/* header title */

.header-title h1 {
  transform: rotate(-10deg);
}
.header-title-link {
  color: var(--text);
}

header.shrink .header-title-link {
  animation: transition-to-left 1.5s forwards ease-out;
}

.header-subheader {
  font-size: 1rem;
  font-weight: 300;
}

header.shrink .header-subheader {
  display: none;
}

@keyframes transition-to-left {
  0% {
    position: absolute;
    top: 65%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 0px;
    left: 20px;
    position: absolute;
  }
}

@keyframes remove-header-h2 {
  0% {
    opacity: 1;
  }

  100% {
    /* opacity: 0; */
    display: none;
  }
}

.talky {
  display: block;
}

/* HOME BUTTON  */

.fa-house-chimney {
  font-size: 2rem;
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 10px 20px;
}

/* saved playlist menu */

.playlist-button {
  position: absolute;
  top: 65px;
  right: -9px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  overflow-x: hidden;
}

.playlist-button i {
  order: 1;
  font-size: 2rem;
  padding: 0 20px;
  z-index: 1;
}

.playlist-button-label {
  font-weight: 300;
  transform: translate(125%);
  opacity: 0;
  overflow: hidden;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  color: white;
}

.saved-playlist-link:hover .playlist-button-label,
.saved-playlist-link:focus-within .playlist-button-label {
  transform: translate(0);
  opacity: 1;
}

.logo {
  height: 140px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.search-form {
  text-align: center;
  color: var(--text);
}

.search-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 0 35px 0;
}

.button-pushable:focus {
  outline: 3px solid var(--cream);
  outline-offset: 10px;
}

.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vmax;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vmax;
  background: linear-gradient(
    to left,
    hsl(43deg 100% 16%) 0%,
    hsl(43deg 100% 32%) 8%,
    hsl(43deg 100% 32%) 92%,
    hsl(43deg 100% 16%) 100%
  );
}

.button-front {
  display: block;
  position: relative;
  padding: 10px 27px;
  border-radius: 100vmax;
  font-family: "Edu QLD Beginner", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary);
  background: hsl(43deg 100% 80%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-front.refresh-results {
  font-size: 1rem;
  padding: 7px 15px;
}

.fa-rotate-right {
  color: black;
}

.button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-pushable:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-pushable:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
  outline: none;
}

.search-form p {
  margin-bottom: 15px;
}

.number-inputs {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
}

.number-input {
  display: flex;
  justify-content: center;
}

.number-input input {
  width: 50px;
  text-align: center;
}

.number-input label {
  margin-left: 10px;
}

/* Remove number input up and down buttons on Chrome, Safari, Edge, Opera */
.number-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

/* Remove number input up and down buttons on Firefox */
.number-input input[type="number"] {
  -moz-appearance: textfield;
}

.search-input {
  width: 300px;
  margin-bottom: 35px;
  text-align: center;
}

.search-input-label {
  margin-bottom: 15px;
}

.genre-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 15px;
}

.genre-inputs-title {
  margin-bottom: 15px;
}

.genre-input {
  flex: 1 0 auto;
  display: flex;
}

.genre-input input:checked + .genre-label {
  background-color: hsl(210, 100%, 80%);
  /* background-color: var(--accent); */
}

.genre-label {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 0.7rem 0.5rem;
  flex: 1 0 auto;
  border-radius: 100vmax;
  color: var(--primary);
}

.genre-label:focus {
  box-shadow: 0 0 0 0.15rem var(--primary), 0 0 0 0.25rem white;
  outline: none;
}

h3 {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
  /* text-decoration: underline;
  text-underline-offset: 6px; */
}

/*==============
search.js
===============*/

.search-results-container {
  text-align: center;
  margin-top: 20px;
}

.save-playlist-label {
  color: white;
  margin: 25px 0 10px 0;
}

.save-playlist-input {
  max-width: 240px;
  margin-bottom: 10px;
  text-align: center;
}

.name-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-buttons {
  justify-content: center;
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

/* warning modal */
.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 501;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  row-gap: 10px;
}

.confirm-modal button {
  background-color: rgb(240, 192, 96);
  border: none;
  border-radius: 10px;
  padding: 3px 20px;
  margin-top: 10px;
}

.confirm-modal button:hover {
  opacity: 80%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.search-results-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*==============
podcastTiles.js
===============*/

.playlist-container {
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.playlist-container p {
  text-align: left;
}

.playlist-container button {
  align-self: flex-end;
}

.playlist-container .podcast-tile-divider:last-of-type {
  display: none;
}

.podcast-tile {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "image image heading heading"
    "description description description description "
    "play data data links";
  row-gap: 10px;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
  color: white;
}

.podcast-tile i {
  color: white;
}

.podcast-tile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.podcast-tile:hover > .podcast-tile-links,
.podcast-tile:focus > .podcast-tile-links,
.podcast-tile:focus-within > .podcast-tile-links {
  opacity: 1;
}

.podcast-tile-img {
  grid-area: image;
  display: flex;
  margin: auto 16px auto 0;
  width: 64px;
  border-radius: 10px;
  overflow: hidden;
}

.podcast-tile-heading {
  grid-area: heading;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.podcast-tile-heading-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.podcast-tile-heading-episode {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.podcast-tile-description {
  grid-area: description;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
}

.podcast-tile-description-full {
  display: unset;
}

.podcast-tile-play {
  grid-area: play;
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.podcast-tile-play:hover i,
.podcast-tile-play:focus i {
  color: hsl(210, 100%, 75%);
}

.podcast-tile-data {
  grid-area: data;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  /* font-size: clamp(.7rem, 3.5vw, 1rem); */
  color: rgba(255, 255, 255, 0.8);
}

.podcast-tile-date {
  display: none;
}

.podcast-tile-links {
  grid-area: links;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.podcast-tile-link {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  text-decoration: none;
}

.podcast-tile-link:hover i,
.podcast-tile-link:focus i {
  color: hsl(210, 100%, 75%);
}

.podcast-tile-divider {
  width: 95%;
  height: 1px;
  background-color: white;
  border: none;
  margin: 5px auto;
}

/*==============
saved playlist.js
===============*/

.podcast-description {
  font-size: 0.9rem;
  font-weight: 400;
  flex-basis: 93%;
  margin: 0 auto;
  word-break: break-word;
}

.playlist-displayed {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.displayed-playlist {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 15px 0;
}

.displayed-playlist-title {
  display: flex;
  flex-direction: column;
  color: var(--text);
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-container {
  width: 95%;
  margin: 0 auto;
}

/*==============
Footer.js
===============*/

footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}

.our-names {
  font-style: italic;
}

.our-names {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.our-names:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #ffffff;
  opacity: 80%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.our-names:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*==============
PodcastPlayer.js
===============*/

.player {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.player-info-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.player-info-details h5,
.player-info-details h6 {
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--primary);
}
.player-info-img {
  width: 64px;
}
.player-controls-buttons {
  padding-right: 20px;
}
.player-controls-buttons i {
  color: var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
}

.player-controls-buttons i:hover,
.player-controls-buttons i:focus {
  color: hsl(210, 100%, 32%)
}

.player-volume {
  display: none;
}

.close-player {
  position: fixed;
  bottom: 35px;
  left: -20px;
}

.close-player .button-front {
  padding: 7px 15px 7px 35px;
}

.close-player .button-front i {
  color: var(--primary)
}



@media (min-width: 481px) {
  .podcast-tile {
    grid-template-areas:
      "image heading heading heading"
      "image description description description"
      "image play data links";
  }

  .podcast-tile-img {
    min-width: 134px;
    aspect-ratio: 1 / 1;
  }

  .podcast-tile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .player {
    height: 80px;
  }
  .player-info {
    flex-basis: 33%;
  }
  .player-info-img {
    width: 80px;
  }
  .player-info-img img {
    width: 80px;
  }
  .player-info-details h5,
  .player-info-details h6 {
    -webkit-line-clamp: 2;
  }
  .player-controls {
    position: relative;
  }
  .player-controls::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -29px;
    width: 2rem;
    height: 1.5rem;
    background-color: none;
    border-radius: 0 0 30px 0;
    box-shadow: 10px 10px var(--cream);
  }
  .player-controls::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -29px;
    width: 2rem;
    height: 1.5rem;
    background-color: none;
    border-radius: 0 0 0 30px;
    box-shadow: -10px 10px var(--cream);
  }
  .player-controls-buttons i {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .player-controls-buttons {
    background-color: var(--cream);
    padding: 15px;
    border-radius: 100vmax;
  }
  .player-volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 25px;
    flex-basis: 33%;
  }
  .player-volume i {
    color: var(--primary);
    cursor: pointer;
  }
  .player-volume i:hover,
  .player-volume i:focus {
    color: hsl(210, 100%, 32%);
  }
  .player-volume input {
    width: 100%;
  }

  .close-player {
    position: fixed;
    bottom: 50px;
    left: -20px;
  }
  
  .close-player .button-front {
    padding: 7px 15px 7px 35px;
  }
}

@media (min-width: 768px) {
  .search-button-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
